<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Школьные звонки</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <header>
            <h1>Страница управления программой звонков</h1>
            <a href="{% url 'ringer:index' %}" class="home">На главную</a>
        </header>
        <main>
            <div class="row">
                
                <div class="cell">
                    <ul>
                        <li class="title"><h2>Управление</h2></li>
                        <li><a href="{% url 'ringer:enable-ring' %}">Включить звонки</a></li>
                        <li><a href="{% url 'ringer:disable-ring' %}">Выключить звонки</a></li>
                        <li><a href="{% url 'ringer:Melony' %}">Сменить мелодию</a></li>
                        <li><a href="{% url 'ringer:holiday' %}">Добавить каникулы</a></li>
                        <li><a href="{% url 'ringer:clear-logs' %}">Очистить логи</a></li>
                        <li><a href="{% url 'ringer:lessons' %}">Изменить количество уроков</a></li>
                        <li><a href="{% url 'ringer:play-now' %}">Воспроизвести звонок сейчас</a></li>
                        <li><a href="{% url 'ringer:enable-radio' %}">Включить радио</a></li>
                        <li><a href="{% url 'ringer:disable-radio' %}">Выключить радио</a></li>
                    </ul>
                    
                </div>
                
                
                <div class="cell frame">
                    {% block terminal %}
                    <iframe src="http://127.0.0.1:4222" height="600" sandbox="allow-scripts allow-same-origin" loading="lazy"></iframe>
                    {% endblock %}
                </div>
                
            </div>
        </main>
        <footer>
            <a href="{% url 'ringer:shell' %}" class="a-foot">Не работает фрейм (правая половина окна)</a>
            <p>Версия 0.7</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
