{% extends "ringer/base.html" %}

{% block terminal %}
<form action="" method="post">
    {% csrf_token %}
    <label for="now">В данный момент уроков: {{ count_num }}</label> <br>
    <!-- <label>Сколько уроков будет?:</label>
    <input type="text" name="lesson" placeholder="Введите число"> <br> -->
    {{ form }}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <input type="submit" value="Применить">
    
</form>
{% endblock %}

